{% extends "users/base.html" %}
{% block title %}Project Navigation{% endblock title %}
    <header>
        <link rel="stylesheet" href="project_navigation.css">
    </header>
        <ul>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li><a class="active" href="{% url 'users-home' %}"> Link 1 </a></li>
            <li>Link 9</li>
            <li>Link 10</li>
            <li>Link 11</li>
            <li>Link 13</li>
            <li>Link 13</li>
        </ul>

    <footer>footer area</footer>

